.single {
  width: 1900px;
  height: 100%;
}

.background_img {
  width: 1920px;
  height: 1080px;
  position: fixed;
  z-index: -1;
  filter: blur(15px);
}
.blog_box {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  height: 100%;
}

.blog-title-box {
  z-index: 8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}

.blog-title {
  z-index: 12;
  position: absolute;
  bottom: 0;
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.blog-title h2 {
  font-size: 10px;
}

.blog-title span {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
.blog-title h2 {
  color: white;
  font-weight: 300;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

.blog-single-content {
  z-index: 999;
  background: white;
  width: 1000px;
}
.blog-single-content p,
.blog-single-content ul,
.blog-single-content li {
  font-size: 1.05rem;
}

.content {
  padding: 150px;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: 1px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
